.heading-section {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(12,12,129,1) 0%, rgba(0,212,255,1) 100%);    
    padding: 100px;
    padding-bottom: 150px;
    text-align: center;
    
}

h1.title {
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

.container {
    max-width: 800px;
    padding: 20px;
}

.add-todo-box-container{
    position: sticky;
    top: 55px;
    z-index: 1;
}

.add-todo-box {
    padding: 25px;
    box-shadow: 0 .1px 5px;
    margin-top: -72.5px;
    background-color: white;
}


#plusicon {
    margin-right: 7px;
    margin-left: -5px;
}

