<div class="todo-item" (click)="onTodoClicked()" [class.todo-item-completed]="todo.completed">
    <div class="check-box">
        <i class="fa fa-check" id="todocheck"></i>
    </div>
    <div class="todo-text">
        {{todo.text}}
    </div>
    <div class="todo-controls-box" (click)="$event.stopPropagation()">
        <div class="todo-control-button" (click)="onEditClicked()">
            <i class="fa fa-pen todoedit"></i>
        </div>
        <div class="todo-control-button is-danger" (click)="onDeleteClicked()">
            <i class="fa fa-trash todotrash"></i>
        </div>
    </div>

</div>